@charset "utf-8";
body {background-color: #fff; color: #333; font-size: 14px; line-height: 1.5; font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック',sans-serif;}
h1,
h2,
h3,
h4 {font-family: "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;}

h1 {font-size:25px;}
h2 {font-size:18px;}
h3 {font-size:16px;}
h4 {font-size:14px;}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #efefef;
  }
}

img {vertical-align: bottom;}
a {color: #333; text-decoration: none;}
a:hover {color: #000;}

.ttl_append,
.attr {font-size: 13px; color: #999; margin-top: 5px;}
*,
*:before,
*:after {
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  font-smoothing:antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

figure {margin:0; padding:0;}
figcaption {margin:10px 0 0 0; padding:0; line-height:1.5;}

.relatedLink a {display: inline-block; background: url(https://www.muji.net/img/common/arrow_right.png) no-repeat 14px 50%; border: 1px solid #ccc; padding: 7px 14px 7px 28px; margin:20px 0 0; text-decoration: none; font-weight:bold; float:right;}
.relatedLink a:hover {border: 1px solid;}

.annotaition { font-size: 12px; }

ul li {list-style: none;}

em {font-style:initial; font-weight:bold;}

/*effect*/
#curtain {z-index: 10;}
.fadein.scrollin {opacity : 1; transform : translate(0, 0);}
.fadein {opacity : 0.1; transform : translate(0, 50px); transition : all 1000ms;}
/*effect*/

/*パンくず*/
ul#pan {margin:0; padding:0 0 5px 0; font-size: 10px; color: #999;}
ul#pan li {display: inline-block; height: 19px; line-height: 1.0; background: #fff; padding:5px 0 5px 3px; list-style: none;}
ul#pan li:before {content:"／ ";}
ul#pan li:first-child:before {content:"";}
ul#pan li a {text-decoration: underline;}
@media screen and (max-width: 879px) {
  #panNavi {
    float: none;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    font-size: 14px;
    margin:0 0 10px 0;
    padding:5px;
    /*border-bottom: 1px solid #f6f6f6;*/
  }
  ul#pan {white-space: nowrap;}
}
/*パンくず*/

header#globalHeader {margin: 20px 0 0; padding-bottom: 20px; border-bottom: 1px solid rgba(0,0,0,0.1);}

.headerWrap {max-width: 1200px; margin: 0 auto; padding-left:10px; padding-right:10px;}
.headerWrap h1#siteName {margin:0; float: left;}
.headerWrap h1#siteName a {display:flex; align-items: center;}
.headerWrap h1#siteName a span {font-size: 18px; margin-left: 0.5em; letter-spacing:-0.01em;}
.headerWrap h1#siteName img {width: 60px; border-radius: 50%;}
#GlobalNav {float: right;}
#GlobalNav h1 {position: absolute; height: 1px; width: 1px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px);}
#GlobalNav ul {margin: 0; padding: 0; position: relative;}
#GlobalNav ul li {list-style: none; float: left; margin-left: 20px; font-weight: normal;}
#GlobalNav ul li a {padding: 0; display: block; line-height: 45px;}
#GlobalNav ul li a:hover {}
#GlobalNav .button {display: none; /*background-color: #fff;*/}
#GlobalNav ul li.ns {font-size: 13px; position: relative; top: 13px; border-left: 1px solid #ccc; padding-left:9px;}
#GlobalNav ul li.ns a {line-height: 1.5; display: inline-block;}
#GlobalNav h1,
#GlobalNav a {color: #333; text-decoration: none;}

.more {text-align: right; font-size: 12px; margin: 20px 0 0;}
.more a:after {content: url("/images/arrow_right_s.png"); margin-left: 5px; vertical-align: top;}

footer * {}
footer {width: 100%; background-color:rgba(0,0,0,0.1); padding: 30px 0; position: relative; bottom: 0; color:#333;}
footer a {text-decoration: none; color:#333;}
footer a:hover {text-decoration:none; color:#666;}
footer .footerWrap {width: 1200px; margin: 0 auto;}

nav#footerNav ul {margin: 0; padding: 0; text-align: center;}
nav#footerNav li {list-style: none; display: inline-block; font-size: 12px;}
nav#footerNav li a {padding:10px;}
nav#footerNav .copyright {color: #999999; padding:10px;}
nav#contentNav {margin: 0 0 40px 0;}
nav#contentNav section.contents__block {width: 18%; padding: 0; margin: 0 30px 0 0; float: left;}
nav#contentNav h1 {font-size: 16px; border-bottom: 1px solid rgba(0,0,0,0.2); padding-bottom: 0.3em;}
nav#contentNav h2 {font-size: 14px; margin: 0 0 8px 0;}
nav#contentNav ul {padding: 0;}
nav#contentNav li {list-style: none; font-size: 12px; margin-bottom: 5px;}
nav#contentNav section:last-child {margin: 0;}

@media only screen and (max-width: 768px) {
  .overflow-scrolling {overflow: scroll; -webkit-overflow-scrolling: touch;}
  header#globalHeader {}
  #GlobalNav {width: 26px; height: 26px;}
  #GlobalNav ul li a {display: inline;}
  #GlobalNav ul li.ns {border-left: none; padding-left:0;}

  #GlobalNav .button {
    display: block;
    position: absolute;
    height: 26px;
    width: 26px;
    top: 22px;
    right: 20px;
    -webkit-transform: translateZ(0) rotate(0deg);
    -ms-transform: translateZ(0) rotate(0deg);
    transform: translateZ(0) rotate(0deg);
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99); z-index: 100;
 }
  #GlobalNav svg {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translateZ(0) rotate(0deg);
    -ms-transform: translateZ(0) rotate(0deg);
    transform: translateZ(0) rotate(0deg);
    fill: #333;
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    font-size: 18px;
 }
  #GlobalNav rect {
    left: 0;
    top: 0;
    -webkit-transition: -webkit-transform 0.2s 0.2s;
    transition: transform 0.2s 0.2s;
 }
  #GlobalNav .top rect {
    -webkit-transform: translate3d(0, -8px, 0);
    -ms-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
 }
  #GlobalNav .bottom rect {
    -webkit-transform: translate3d(0, 8px, 0);
    -ms-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
 }
  #GlobalNav.open .button {
    -webkit-transform: translateZ(0) rotate(90deg);
    -ms-transform: translateZ(0) rotate(90deg);
    transform: translateZ(0) rotate(90deg);
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0, 0.01, 0.165, 0.99);
    transition: transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
 }
  #GlobalNav.open svg {
    -webkit-transition: -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transform: translateZ(0) rotate(0);
    -ms-transform: translateZ(0) rotate(0);
    transform: translateZ(0) rotate(0);
    fill: #fff;
 }
  #GlobalNav.open .top {
    -webkit-transform: translateZ(0) rotate(45deg);
    -ms-transform: translateZ(0) rotate(45deg);
    transform: translateZ(0) rotate(45deg);
 }
  #GlobalNav.open .middle {
    display: none;
 }
  #GlobalNav.open .bottom {
    -webkit-transform: translateZ(0) rotate(-45deg);
    -ms-transform: translateZ(0) rotate(-45deg);
    transform: translateZ(0) rotate(-45deg);
 }
  #GlobalNav.open rect {
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
 }
}
@media screen and (max-width: 768px) {
  .headerWrap {width: 100%;}
  .headerWrap h1#siteName {margin-left: 15px;}
  .headerWrap h1#siteName a img {width: 60px;}
  #GlobalNav h1 {
    display: block;
    background: url(/img/menu_b.png) no-repeat center center;
    text-indent: -9999px;
    background-size: 20px 15px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 27px;
    margin: 0;
    cursor: pointer;
    width: 20px;
    height: 15px;
    z-index: 1;
 }
  #GlobalNav ul {display: none; opacity: 0;}
  #GlobalNav.open ul {
    display: block;
    opacity: 1;
    animation-duration: 0.5s;
    animation-name: fade-in;
    -moz-animation-duration: 0.5s;
    -moz-animation-name: fade-in;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: fade-in;
 }
  @keyframes fade-in {
    0% {display: none; opacity: 0;}
    1% {display: block; opacity: 0;}
    100% {display: block; opacity: 1;}
 }
  @-moz-keyframes fade-in {
    0% {display: none; opacity: 0;}
    1% {display: block; opacity: 0;}
    100% {display: block; opacity: 1;}
 }
  @-webkit-keyframes fade-in {
    0% {display: none; opacity: 0;}
    1% {display: block; opacity: 0;}
    100% {display: block; opacity: 1;}
 }
  #GlobalNav ul {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 90;
    padding-top: 40px;
 }
  #GlobalNav ul li {float: none; margin-left: 20px; font-size: 18px;}
  #GlobalNav ul li a {border-bottom: 0; color: #fff;}
}
@media screen and (max-width: 768px) {
  .localNav {
    float: none;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    font-size: 14px;
    padding-bottom: 0;
    padding-right: 10px;
 }
  .localNav ul {white-space: nowrap; padding: 0 10px;}
  .localNav li {margin: 0 5px 0;}
  .localNav li a:hover {border-bottom: 0;}
}

@media only screen and (max-device-width: 1199px) {
  footer .footerWrap {width: 100%; margin: 0 auto; padding:0 15px;}
  nav#contentNav section.contents__block {margin: 0 2% 0 0;}
  nav#contentNav section:last-child {margin: 0;}
}

@media only screen and (max-device-width: 768px) {
  footer {padding: 30px 0;}
  footer .footerWrap {width: auto;}
  nav#contentNav section.contents__block {width: auto; margin: 0 0 30px; float: none;}
  nav#contentNav h2 {font-size: 14px; margin:0; padding:0;}
}
@media only screen and (max-device-width: 768px) {
  nav#contentNav {margin-right: 0;}
  nav#contentNav section {width: 23%; margin: 0 1%;}
  nav#contentNav h1 {margin-bottom: 10px;}
  nav#contentNav li {float: left;}
  nav#contentNav li.contentTop {float: none; margin-bottom: 10px;}
  nav#contentNav a {padding:0 10px 10px 0;}
  nav#contentNav h2 a {padding:0;}
}
@media only screen and (max-device-width: 768px) {
  nav#contentNav section {float: none; width: auto; margin: 0 0 30px;}
}
@media only screen and (max-device-width: 386px) {
  nav#footerNav .copyright {padding-bottom:0;}
  nav#footerNav li:last-child {padding-top:0;}
}

.annotation {font-size: 11px; color: #555;}
.annotation li {margin-bottom: 0.5em;}
.annotation.asterisk {text-indent: -0.75em; padding-left: 0.75em;}
ul.annotation.asterisk {list-style: none;}
.error {color: #d00; font-weight: bold;}
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt25 { margin-top: 25px; }
.mt30 { margin-top: 30px; }
.mt35 { margin-top: 35px; }
.mt40 { margin-top: 40px; }
.mt45 { margin-top: 45px; }
.mt50 { margin-top: 50px; }
.mt60 { margin-top: 60px; }
.mt70 { margin-top: 70px; }
.mt80 { margin-top: 80px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb25 { margin-bottom: 25px; }
.mb30 { margin-bottom: 30px; }
.mb35 { margin-bottom: 35px; }
.mb40 { margin-bottom: 40px; }
.mb45 { margin-bottom: 45px; }
.mb50 { margin-bottom: 50px; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt20 { padding-top: 20px; }
.pt30 { padding-top: 30px; }
.pt40 { padding-top: 40px; }
.pt50 { padding-top: 50px; }
.pb10 { padding-bottom: 10px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px; }
.pb25 { padding-bottom: 25px; }
.pb30 { padding-bottom: 30px; }
.pb40 { padding-bottom: 40px; }
.pb50 { padding-bottom: 50px; }
.pb60 { padding-bottom: 60px; }
.pb70 { padding-bottom: 70px; }
.pb80 { padding-bottom: 80px; }
.flexLayout {
  display:-webkit-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:flex;
}


/* clearfix */
.clearfix,
#globalHeader,
#GlobalNav ul,
.headerWrap,
main header,
.localNav ul,
nav#contentNav,
nav#contentNav ul {zoom: 1;}
.clearfix:after,
#globalHeader:after,
#GlobalNav ul:after,
.headerWrap:after,
.headerWrap_eng:after,
main header:after,
.localNav ul:after,
nav#contentNav:after,
nav#contentNav ul:after {content: ""; display: block; clear: both;}