@charset "utf-8";

/*
HERO
======================= */
#hero {
  &.content-block {
    width: 100vw;
    height: 100vh;
    background: var(--CT-basecolor_F7F6F5);
    // z-index:1;

    .content-block_inner {
      width: 100vw;
      height: 100vh;
      position: relative;

      .mainVisual__wrap {
        width: 100%;
        height: 100vh;
        position: relative;

        h1 {
          position: absolute;
          top: 25%;
          left: 15%;
          z-index: 50;
          &.content-ttl {
            font-size: var(--base-size_6);
            font-weight: 600;
            span {
              &.content-ttl__db {
                display: var(--dsp-block);
              }
            }
          }
        }
        .floating-object {
          .object__no01 {
            width: 15%;
            position: absolute;
            top: -10%;
            left: 10%;
            z-index: 2;

            .object-wrap {
              width: 100%;

              &.updown-img_no01 {
                animation-name:updown;   /* アニメーション名の指定 */
                animation-delay:0s;   /* アニメーションの開始時間指定 */
                animation-duration: 3s;   /* アニメーション動作時間の指定 */
                animation-timing-function: ease-in-out;  /* アニメーションの動き指定（徐々に早く）*/
                animation-iteration-count: infinite; 
              }
              img {
                width: 100%;
              }
            }
          }

          .object__no02 {
            width: 6%;
            position: absolute;
            top: 50%;
            right:15%;
            z-index: 12;

            .object-wrap {
              width: 100%;

              &.updown-img_no02 {
                animation-name:updown3;   /* アニメーション名の指定 */
                animation-delay:0s;   /* アニメーションの開始時間指定 */
                animation-duration: 6s;   /* アニメーション動作時間の指定 */
                animation-timing-function: ease-in-out;  /* アニメーションの動き指定（徐々に早く）*/
                animation-iteration-count: infinite; 
              }
              img {
                width: 100%;
              }
            }
          }

          .object__no03 {
            width: 13%;
            position: absolute;
            top: 60%;
            right:20%;
            z-index: 12;

            .object-wrap {
              width: 100%;

              &.updown-img_no03 {
                animation-name:updown4;   /* アニメーション名の指定 */
                animation-delay:0s;   /* アニメーションの開始時間指定 */
                animation-duration: 6s;   /* アニメーション動作時間の指定 */
                animation-timing-function: ease-in-out;  /* アニメーションの動き指定（徐々に早く）*/
                animation-iteration-count: infinite; 
              }
              img {
                width: 100%;
              }
            }
          }

          .object__no04 {
            width: 20%;
            position: absolute;
            top: 45%;
            right:10%;
            z-index:11;

            .object-wrap {
              width: 100%;

              &.updown-img_no04 {
                animation-name:updown;   /* アニメーション名の指定 */
                animation-delay:0s;   /* アニメーションの開始時間指定 */
                animation-duration: 6s;   /* アニメーション動作時間の指定 */
                animation-timing-function: ease-in-out;  /* アニメーションの動き指定（徐々に早く）*/
                animation-iteration-count: infinite; 
              }
              img {
                width: 100%;
              }
            }
          }

          .object__no05 {
            width: 12%;
            position: absolute;
            bottom:2%;
            left:21%;
            z-index:9;

            .object-wrap {
              width: 100%;

              &.updown-img_no05 {
                animation-name:updown;   /* アニメーション名の指定 */
                animation-delay:0s;   /* アニメーションの開始時間指定 */
                animation-duration: 8s;   /* アニメーション動作時間の指定 */
                animation-timing-function: ease-in-out;  /* アニメーションの動き指定（徐々に早く）*/
                animation-iteration-count: infinite; 
              }
              img {
                width: 100%;
              }
            }
          }

          .object__no06 {
            width: 8%;
            position: absolute;
            bottom:13%;
            left:30%;
            z-index:8;

            .object-wrap {
              width: 100%;

              &.updown-img_no06 {
                animation-name:updown2;   /* アニメーション名の指定 */
                animation-delay:0s;   /* アニメーションの開始時間指定 */
                animation-duration: 8s;   /* アニメーション動作時間の指定 */
                animation-timing-function: ease-in-out;  /* アニメーションの動き指定（徐々に早く）*/
                animation-iteration-count: infinite; 
              }
              img {
              width: 100%;
              }
            }
          }

          @keyframes updown {
            0% {
              transform: translateY(0);
            }
            50% {
              transform: translateY(-20px);
            }
            100% {
              transform: translateY(0);
            }
          }
          @keyframes updown2 {
            0% {
              transform: translateY(-20px);
            }
            50% {
              transform: translateY(0);
            }
            100% {
              transform: translateY(-20px);
            }
          }
          @keyframes updown3 {
            0% {
              transform: translateY(0) rotate(0deg);
            }
            25% {
              transform: translateY(-10px) rotate(-3deg);
            }
            50% {
              transform: translateY(-20px) rotate(3deg);
            }
            75% {
              transform: translateY(-10px) rotate(-3deg);
            }
            100% {
              transform: translateY(0) rotate(0deg);
            }
          }
          @keyframes updown4 {
            0% {
              transform: translateY(0) rotate(-3deg);
            }
            50% {
              transform: translateY(-20px) rotate(3deg);
            }
            100% {
              transform: translateY(0) rotate(-3deg);
            }
          }
        }

        /* mainVisual */
        figure {
          &#mainVisual {
            width: 100%;
            height: 100vh;
            overflow: hidden;
            background:var(--base_color3);
            z-index: 1;
            display: var(--dsp-flex);
            justify-content: center;
            align-items: center;
            overflow-x: hidden;
            position: absolute;
            top: 0;
            left: 0;

            img {
              width: 40%;
              // height: 100vh;
              flex-shrink: 0;
              // object-fit: cover;
            }
          }
        }
        /* mainVisual */
        .canvas__wrap {
          width: 100vw;
          height: 100vh;
          position: absolute;
          z-index: 10;

          canvas {
            width: 100vw;
            height: 70vh;
            position: absolute;
            bottom: 0;
          }
        }
      }
    }
  }
}
/*
HERO
======================= */

/*
MAIN CONTENTS
======================= */
main {
  &.main {
    position: relative;
    background-color: var(--CT-basecolor_F7F6F5);
    background-image: url(../img/mercury_bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain; 
  }
}

/* about */
#about {
  &.about-content__outflame {
    background-color: var(--CT-basecolor_F7F6F5); 
    padding-left: var(--clearance);
    padding-bottom: var(--clearance);
  }
  .about-content__innerflame {
    padding: var(--clearance);
    background-color: var(--CT-acccolor_000);
    border-radius: 2rem 0 0 2rem;
    position: relative;
    // overflow: hidden;

    .title-wrap {
      width: 100%;
      display: var(--dsp-block);
      position: absolute;
      top: 5%;
      left: 0;
        
      h1 {
        .main-title {
          font-family: "futura-pt", "futura-pt-bold", "futura-pt-bold", sans-serif;
          font-size: var(--base-size_6);
          font-weight: 700;
          line-height: 1.0;
          margin-bottom: var(--mb20);

          div:nth-child(even) {
            color: var(--CT-basecolor_fff);
          }
          div:nth-child(odd) {
            padding: 0 5px;
            -webkit-text-stroke: 1.5px var(--CT-basecolor_fff);
            // text-stroke: 1.5px var(--CT-basecolor_fff);
            color: transparent;
          }
        }

        .sub-title {
          display: var(--dsp-flex);
          justify-content: flex-end;
          margin-right: var(--clearance);

          span {
            &.wrap {
              max-width: 500px;
              position: relative;
              display: inline-block;

              .inn {
                padding: 10px;
                display: inline-block;
                font-size: var(--base-size_2);
                font-weight: 700;
                line-height: 1.0;
                position: relative;
                display: inline-block;
              }
              .smooth {
                clip-path: inset(0 100% 0 0);
                &.is-animated {
                  animation: txt-works 1.2s cubic-bezier(0.22, 1, 0.36, 1) forwards;
                  transition-property: clip-path;
                  clip-path: inset(0);
                }
              }
            }
          }

          &.is-animated {
            span {
              &.wrap {
                &::before {
                  width: 100%;
                  height: 100%;
                  content: "";
                  position: absolute;
                  animation: bg-about 2.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
                  transform-origin: left center;
                  background-color: var(--CT-maintcolor);
                }
              }
            }
          }
          @keyframes bg-about {
            0% {
              clip-path: inset(0 100% 0 0);
            }
            100% {
              clip-path: inset(0);
            }
          }
          @keyframes bg-about {
            0% {
              opacity: 0;
              transform: scaleX(0) translateX(-5%);
            }
            30% {
              transform: scaleX(1) translateX(0);
            }
            100% {
              transform: scaleX(1) translateX(0);
            }
            30%, 100% {
              opacity: 1;
            }
          }

        }
      }
    }

    .sentence-wrap {   
      margin-top: 150px; 
      position: relative;

      .sentence-wrap__inner {
        .sentence {
          min-width: 280px;

          h3 {
            text-align: right;
            color: var(--CT-basecolor_fff);
          }
          p {
            text-align: right;
            color: var(--CT-basecolor_fff);
          }
        }
        .sentence {
          &.lead {
            max-width: 780px;
            margin-bottom: var(--mb20);
            padding-bottom: var(--pb20);
            margin-right: 0;
            margin-left: auto;
            border-bottom: solid 1px var(--CT-basecolor_fff);

            .mark {
              color:var(--CT-maintcolor);
            }
          }
        }
      }

      .floating-object {
        .object__no07 {
          width: 12%;
          position: absolute;
          top: -15%;
          left: 5%;
          z-index: 2;
          .object-wrap {
            width: 100%;
            &.updown-img_no07 {
              animation-name:updown2;   /* アニメーション名の指定 */
              animation-delay:0s;   /* アニメーションの開始時間指定 */
              animation-duration: 3s;   /* アニメーション動作時間の指定 */
              animation-timing-function: ease-in-out;  /* アニメーションの動き指定（徐々に早く）*/
              animation-iteration-count: infinite; 
            }
            img {
              width: 100%;
            }
          }
        }
      }

      @keyframes updown2 {
        0% {
          transform: translateY(-20px);
        }
        50% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(-20px);
        }
      }
    }
  }
}
/* about */

/* works */
#works {
  padding: 0 0 100px;
  position: relative;

  .works-content__innerflame {
    // overflow: hidden;

    .title-wrap {
      width: 100%;
      padding: var(--clearance) 0 50px;
      background: linear-gradient(-4deg, var(--CT-basecolor_F7F6F5) 0%, var(--CT-basecolor_F7F6F5) 45%, var(--CT-basecolor_fff) 45%, var(--CT-basecolor_fff) 65%, var(--CT-basecolor_F7F6F5) 65%, var(--CT-basecolor_F7F6F5) 100%);

      h1 {
        line-height: 1.0;
        padding: 0 var(--clearance);
        display: var(--dsp-block);

        .main-title {
          font-family: "futura-pt", "futura-pt-bold", "futura-pt-bold", sans-serif;
          font-size: var(--base-size_6);
          font-weight: 700;
          margin-bottom: var(--mb20);
        }
        .sub-title {
          display: var(--dsp-flex);
          justify-content: flex-start;
          margin-right: var(--clearance);

          span {
            &.wrap {
              max-width: 500px;
              position: relative;
              display: inline-block;

              .inn {
                padding: 10px;
                display: inline-block;
                font-size: var(--base-size_2);
                font-weight: 700;
                line-height: 1.0;
                position: relative;
                display: inline-block;
              }
              .smooth {
                clip-path: inset(0 100% 0 0);
                &.is-animated {
                  animation: txt-works 1.2s cubic-bezier(0.22, 1, 0.36, 1) forwards;
                  transition-property: clip-path;
                  clip-path: inset(0);
                }
              }
            }
          }

          &.is-animated {
            span {
              &.wrap {
                &::before {
                  width: 100%;
                  height: 100%;
                  content: "";
                  position: absolute;
                  animation: bg-works 2.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
                  transform-origin: left center;
                  background-color: var(--CT-maintcolor);
                }
              }
            }
          }
          @keyframes txt-works {
            0% {
              clip-path: inset(0 100% 0 0);
            }
            100% {
              clip-path: inset(0);
            }
          }
          @keyframes bg-works {
            0% {
              opacity: 0;
              transform: scaleX(0) translateX(-5%);
            }
            30% {
              transform: scaleX(1) translateX(0);
            }
            100% {
              transform: scaleX(1) translateX(0);
            }
            30%, 100% {
              opacity: 1;
            }
          }
        }
      }
    }

    .works-content__mainContent {
      .content-wrap {
        display: var(--dsp-flex);
        &.slider_02 {
          direction: rtl;
          .slick-list {
            overflow: visible;
          }
        } 

        .content-box {
          width: 320px;
          height: auto;
          margin-right: 30px;
          border-radius: 1rem;
          overflow: hidden;
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
          background-color: var(--CT-basecolor_fff);
          
          figure {
            width: 100%;
            img {
              width: 100%;
            }
            figcaption {
              padding: 20px;
              text-align: left;

              h2 {
                font-size: var(--base-size_1);
              }
              p {
                margin-top: var(--mt10);
                font-size: var(--base-size_tq);
                &.tag {
                  span {
                    padding: 5px 10px;
                    background-color: var(--CT-basecolor_ccc);
                    border-radius: 50px;
                  }
                }
              } 
            }
          }
        }
      }
    }

    .btn-wrap {
      padding: 100px 2rem 2rem;
    }
  }

  .floating-object {
    .object__no08 {
      width: 5%;
      position: absolute;
      top: 8%;
      left:33%;
      z-index: 0;
      .object-wrap {
        width: 100%;
        &.updown-img_no08 {
          animation-name:updown;   /* アニメーション名の指定 */
          animation-delay:0s;   /* アニメーションの開始時間指定 */
          animation-duration: 6s;   /* アニメーション動作時間の指定 */
          animation-timing-function: ease-in-out;  /* アニメーションの動き指定（徐々に早く）*/
          animation-iteration-count: infinite; 
        }
        img {
          width: 100%;
        }
      }
    }

    .object__no09 {
      width: 10%;
      position: absolute;
      top: 12%;
      left:40%;
      z-index: 0;
      .object-wrap {
        width: 100%;
        &.updown-img_no09 {
          animation-name:updown2;   /* アニメーション名の指定 */
          animation-delay:0s;   /* アニメーションの開始時間指定 */
          animation-duration: 6s;   /* アニメーション動作時間の指定 */
          animation-timing-function: ease-in-out;  /* アニメーションの動き指定（徐々に早く）*/
          animation-iteration-count: infinite; 
        }
        img {
          width: 100%;
        }
      }
    }

    .object__no10 {
      width: 20%;
      position: absolute;
      top: 12%;
      left:45%;
      z-index: 0;
      .object-wrap {
        width: 100%;
        &.updown-img_no10 {
          animation-name:updown;   /* アニメーション名の指定 */
          animation-delay:0s;   /* アニメーションの開始時間指定 */
          animation-duration: 6s;   /* アニメーション動作時間の指定 */
          animation-timing-function: ease-in-out;  /* アニメーションの動き指定（徐々に早く）*/
          animation-iteration-count: infinite; 
        }
        img {
          width: 100%;
        }
      }
    }

    .object__no11 {
      width: 7%;
      position: absolute;
      bottom:23%;
      left:45%;
      z-index: 0;
      .object-wrap {
        width: 100%;
        &.updown-img_no11 {
          animation-name:updown2;   /* アニメーション名の指定 */
          animation-delay:0s;   /* アニメーションの開始時間指定 */
          animation-duration: 6s;   /* アニメーション動作時間の指定 */
          animation-timing-function: ease-in-out;  /* アニメーションの動き指定（徐々に早く）*/
          animation-iteration-count: infinite; 
        }
        img {
          width: 100%;
        }
      }
    }
  }

  @keyframes updown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes updown2 {
    0% {
      transform: translateY(-20px);
    }
    50% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }
}
/* works */
/*
MAIN CONTENTS
======================= */