@charset "utf-8";
@import url(style.css);

main {
  width: 90%;
  max-width: 1920px;
  margin: 0 auto;
}
.coding-tips {
  padding: 2rem;
}
.coding-tips h1 {
  border-bottom: 1px solid;
  padding-bottom: .5rem;
  margin-bottom: 1.5rem;
}


.coding-tips_block {
  margin-bottom: 2.5rem;
}

.focus {
  margin: 2rem auto 0;
}
.focus .explanation {
  background-color: var(--base_color5);
  padding: 20px;
}
.focus .explanation p {
  padding: .5rem 0;
}
.focus .explanation p.read {
  border-bottom: 1px dotted var(--base_color4);
}
.focus .explanation p span {
  display: block;
  font-weight: 700;
}
.focus .explanation pre {
  font-size: .8rem;
}
.code-block {
  background-color:var(--base_color6);
  padding: 20px;
  border-radius: 5px;
  font-size: .8rem;
  display: flex;
  align-items: stretch;
}
.code-Wrap {
  width: 50%;
  margin: .5rem;
}
.code-Wrap p {
  margin-bottom: .5rem;
}
.code-Wrap pre {
  margin-bottom: 1rem;
  padding: .5rem;
  background-color: #d7d7d7;
}

.blue-box.unmove {
  width: 100px;
  height: 100px;
  background-color: blue;
}
.blue-box.unmove:hover {
  width: 200px;
}
.blue-box.move {
  width: 100px;
  height: 100px;
  background-color: blue;
  transition: all 1s ease-in-out;
}
.blue-box.move:hover {
  width: 200px;
}
.blue-box.move_02 {
  width: 100px;
  height: 100px;
  background-color: blue;
  transition-duration: 1s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-delay: 1s;
}
.blue-box.move_02:hover {
  width: 200px;
}
.blue-box.move_03 {
  width: 100px;
  height: 100px;
  background-color: blue;
  transition: all 1s ease-in-out 1s;
}
.blue-box.move_03:hover {
  width: 200px;
}

/*propertyType/valueType*/
.propertyType,
.valueType {
  padding: 20px 0 0;
}
.valueType .read {
  margin-bottom: var(--mb20);
}
.propertyType table,
.valueType table {
  width: 100%;
  border-left:1px solid #ccc;
  border-top:1px solid #ccc;
  font-size: .8rem;
}
.propertyType table th,
.propertyType table td,
.valueType table th,
.valueType table td {
  padding: .5rem 1rem;
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  vertical-align: middle;
}
.propertyType table th,
.valueType table th {
  background-color: var(--base_color5);
}
.property.name,
.value.name {
  width: 20%;
}
.property.read {
  width: 30%;
}
.property.explanation {
  width: 50%;
}
.value-tra,
.value-anm {
  width: 40%;
}
/*propertyType/valueType*/


.timing-function .box {
  background-color: #125585;
  color: #fff;
  animation: sampleAnm 2.5s linear 0s;
  width: 360px;
}
@keyframes sampleAnm {
  0% {
    width: 120px;
  }
  100% {
    width: 360px;
  }
}

.timing-function .box:nth-child(2n){
  background-color: #DFE3EB;
  color: #000;
}
.timing-function .box p {
  margin: 0;
  padding: 5px 10px;
}



.transition-box,
.animation-box {
  background-color: #125585;
  color: #fff;
  width: 120px;
}
.transition-box {
  transition: all 2.5s;
}
.transition-box:hover {
  width: 360px;
}
.animation-box:hover {
  animation: sampleAnm_02 2.5s forwards;
}
@keyframes sampleAnm_02 {
  0% {
    width: 120px;
  }
  100% {
    width: 360px;
  }
}


.transition-box p,
.animation-box p {
  margin: 0;
  padding: 5px 10px;
}



/***timing-function***/
.transition-box.linear{
  transition-timing-function: linear;
}
.transition-box.ease{
  transition-timing-function: ease;
}
.transition-box.ease-in{
  transition-timing-function: ease-in;
}
.transition-box.ease-out{
  transition-timing-function: ease-out;
}
.transition-box.ease-in-out{
  transition-timing-function: ease-in-out;
}
.transition-box.step-start{
  transition-timing-function: step-start;
}
.transition-box.step-end{
  transition-timing-function: step-end;
}
.transition-box.cubic-bezier{
  transition-timing-function: cubic-bezier(.37,-0.41,.82,1.46);
}
.transition-box.steps-n-start{
  transition-timing-function: steps(4, start);
}
.transition-box.steps-n-end{
  transition-timing-function: steps(4, end);
}

.animation-box.linear{
  animation-timing-function: linear;
}
.animation-box.ease{
  animation-timing-function: ease;
}
.animation-box.ease-in{
  animation-timing-function: ease-in;
}
.animation-box.ease-out{
  animation-timing-function: ease-out;
}
.animation-box.ease-in-out{
  animation-timing-function: ease-in-out;
}
.animation-box.step-start{
  animation-timing-function: step-start;
}
.animation-box.step-end{
  animation-timing-function: step-end;
}
.animation-box.steps-n-start{
  animation-timing-function: steps(4, start);
}
.animation-box.steps-n-end{
  animation-timing-function: steps(4, end);
}
.animation-box.cubic-bezier{
  animation-timing-function: cubic-bezier(.37,-0.41,.82,1.46);
}


.transition-anime .box {
  width: 100px;
  height: 100px;
  background-color: blue;
  transition: transform 0.3s ease;
}

.transition-anime .box:hover {
  transform: rotate(45deg) scale(1.2);
}

.keyframes-anime .box {
  width: 100px;
  height: 100px;
  background-color: blue;
}
.keyframes-anime .box:hover {
  animation: fadeawayAnime 2s ease;
}
@keyframes fadeawayAnime{
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1.08, 1.08);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
  }
}