@charset "UTF-8";
/*
VARIABLES
======================= */
:root {
  /* color */
  --color-val_000:#000;
  --color-val_ccc:#ccc;
  --color-val_ddd:#ddd;
  --color-val_eee:#eee;
  --color-val_fff:#fff;
  --color-val_111:#111;
  --color-val_666:#666;
  --color-val_999:#999;
  --color-val_f00:#f00;
  --color-val_191919:#191919;
  --color-val_cb0000:#cb0000;
  --color-val_363636:#363636;
  --color-val_c8dfee:#c8dfee;
  --color-val_f4f4f4:#f4f4f4;
  --color-val_d7d7d7:#d7d7d7;
  --color-val_125585:#125585;
  --color-val_dfe3eb:#dfe3eb;
  --color-val_f87e03:#f87e03;
  --color-val_20b4f1:#20b4f1;
  --color-val_addaf6:#addaf6;
  /* rem */
  --base-size_3:3rem; /* 48px */
  --base-size_2tq:2.75rem; /* 44px */
  --base-size_2h:2.5rem; /* 40px */
  --base-size_2q:2.25rem; /* 36px */
  --base-size_2:2rem; /* 32px */
  --base-size_1tq:1.75rem; /* 28px */
  --base-size_1h:1.5rem; /* 24px */
  --base-size_1q:1.25rem; /* 20px */
  --base-size_1:1rem; /* 16px */
  --base-size_tq:.75rem; /* 12px */
  --base-size_h:.5rem; /* 8px */
  /* px */
  --base-size_18p:18px;
  --base-size_14p:14px;
  --base-size_13p:13px;
  --base-size_12p:12px;
  --base-size_11p:11px;
  --base-size_10p:10px;
  /* margin/padding */
  --mt5:5px;
  --mt10:10px;
  --mt15:15px;
  --mt20:20px;
  --mt25:25px;
  --mt30:30px;
  --mt35:35px;
  --mt40:40px;
  --mt45:45px;
  --mt50:50px;
  --mt60:60px;
  --mt70:70px;
  --mt80:80px;
  --mb5:5px;
  --mb10:10px;
  --mb15:15px;
  --mb20:20px;
  --mb25:25px;
  --mb30:30px;
  --mb35:35px;
  --mb40:40px;
  --mb45:45px;
  --mb50:50px;
  --mb60:60px;
  --mb70:70px;
  --mb80:80px;
  --pt5:5px;
  --pt10:10px;
  --pt15:15px;
  --pt20:20px;
  --pt25:25px;
  --pt30:30px;
  --pt40:40px;
  --pt50:50px;
  --pt60:60px;
  --pt70:70px;
  --pt80:80px;
  --pb5:5px;
  --pb10:10px;
  --pb15:15px;
  --pb20:20px;
  --pb25:25px;
  --pb30:30px;
  --pb40:40px;
  --pb50:50px;
  --pb60:60px;
  --pb70:70px;
  --pb80:80px;
  /* display プロパティ */
  --dsp-flex: flex;
  --dsp-block:block;
  --dsp-inline:inline;
  --dsp-grid:grid;
  --dsp-inl_block:inline-block;
  --dsp-inl_table:table;
  --dsp-none:none;
}

/*
VARIABLES
======================= */
/*
GENERAL STYLING
======================= */
* {
  font-feature-settings: "palt" 1;
  -webkit-font-feature-settings: "palt" 1;
  -moz-font-feature-settings: "palt" 1;
  -ms-font-feature-settings: "palt" 1;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  color: var(--color-val_191919);
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, メイリオ, "游ゴシック Medium", "Yu Gothic Medium", 游ゴシック体, "Yu Gothic", YuGothic, "MS PGothic", Osaka, arial, sans-serif;
  padding: 0;
  height: 100vh;
}

footer {
  width: 100%;
  height: 100px;
  background: #a3a3a3;
}

/*UTILITY*/
@media only screen and (min-width: 768px) {
  .mt5 {
    margin-top: 5px;
  }
  .mt10 {
    margin-top: 10px;
  }
  .mt15 {
    margin-top: 15px;
  }
  .mt20 {
    margin-top: 20px;
  }
  .mt25 {
    margin-top: 25px;
  }
  .mt30 {
    margin-top: 30px;
  }
  .mt35 {
    margin-top: 35px;
  }
  .mt40 {
    margin-top: 40px;
  }
  .mt45 {
    margin-top: 45px;
  }
  .mt50 {
    margin-top: 50px;
  }
  .mt60 {
    margin-top: 60px;
  }
  .mt70 {
    margin-top: 70px;
  }
  .mt80 {
    margin-top: 80px;
  }
  .mb10 {
    margin-bottom: 10px;
  }
  .mb15 {
    margin-bottom: 15px;
  }
  .mb20 {
    margin-bottom: 20px;
  }
  .mb25 {
    margin-bottom: 25px;
  }
  .mb30 {
    margin-bottom: 30px;
  }
  .mb35 {
    margin-bottom: 35px;
  }
  .mb40 {
    margin-bottom: 40px;
  }
  .mb45 {
    margin-bottom: 45px;
  }
  .mb50 {
    margin-bottom: 50px;
  }
  .pt10 {
    padding-top: 10px;
  }
  .pt15 {
    padding-top: 15px;
  }
  .pt20 {
    padding-top: 20px;
  }
  .pt30 {
    padding-top: 30px;
  }
  .pt40 {
    padding-top: 40px;
  }
  .pt50 {
    padding-top: 50px;
  }
  .pb10 {
    padding-bottom: 10px;
  }
  .pb15 {
    padding-bottom: 15px;
  }
  .pb20 {
    padding-bottom: 20px;
  }
  .pb25 {
    padding-bottom: 25px;
  }
  .pb30 {
    padding-bottom: 30px;
  }
  .pb40 {
    padding-bottom: 40px;
  }
  .pb50 {
    padding-bottom: 50px;
  }
  .pb60 {
    padding-bottom: 60px;
  }
  .pb70 {
    padding-bottom: 70px;
  }
  .pb80 {
    padding-bottom: 80px;
  }
}
@media only screen and (max-width: 767px) {
  .mt5_sp {
    margin-top: 5px;
  }
  .mt10_sp {
    margin-top: 10px;
  }
  .mt15_sp {
    margin-top: 15px;
  }
  .mt20_sp {
    margin-top: 20px;
  }
  .mt25_sp {
    margin-top: 25px;
  }
  .mt30_sp {
    margin-top: 30px;
  }
  .mt35_sp {
    margin-top: 35px;
  }
  .mt40_sp {
    margin-top: 40px;
  }
  .mt45_sp {
    margin-top: 45px;
  }
  .mt50_sp {
    margin-top: 50px;
  }
  .mt60_sp {
    margin-top: 60px;
  }
  .mt70_sp {
    margin-top: 70px;
  }
  .mt80_sp {
    margin-top: 80px;
  }
  .mb10_sp {
    margin-bottom: 10px;
  }
  .mb15_sp {
    margin-bottom: 15px;
  }
  .mb20_sp {
    margin-bottom: 20px;
  }
  .mb25_sp {
    margin-bottom: 25px;
  }
  .mb30_sp {
    margin-bottom: 30px;
  }
  .mb35_sp {
    margin-bottom: 35px;
  }
  .mb40_sp {
    margin-bottom: 40px;
  }
  .mb45_sp {
    margin-bottom: 45px;
  }
  .mb50_sp {
    margin-bottom: 50px;
  }
  .pt10_sp {
    padding-top: 10px;
  }
  .pt15_sp {
    padding-top: 15px;
  }
  .pt20_sp {
    padding-top: 20px;
  }
  .pt30_sp {
    padding-top: 30px;
  }
  .pt40_sp {
    padding-top: 40px;
  }
  .pt50_sp {
    padding-top: 50px;
  }
  .pb10_sp {
    padding-bottom: 10px;
  }
  .pb15_sp {
    padding-bottom: 15px;
  }
  .pb20_sp {
    padding-bottom: 20px;
  }
  .pb25_sp {
    padding-bottom: 25px;
  }
  .pb30_sp {
    padding-bottom: 30px;
  }
  .pb40_sp {
    padding-bottom: 40px;
  }
  .pb50_sp {
    padding-bottom: 50px;
  }
  .pb60_sp {
    padding-bottom: 60px;
  }
  .pb70_sp {
    padding-bottom: 70px;
  }
  .pb80_sp {
    padding-bottom: 80px;
  }
}
/*UTILITY*/
/*
GENERAL STYLING
======================= */
/*
COMMON
======================= */
h1, h2, h3, h4, h5 {
  letter-spacing: 0em;
  line-height: 1.8;
}

h1 {
  font-size: var(--base-size_1tq);
}

h2 {
  font-size: var(--base-size_1h);
}

h3 {
  font-size: var(--base-size_1q);
}

p {
  line-height: 1.5;
  font-size: var(--base-size_tq);
  letter-spacing: 0.01em;
}

pre {
  line-height: 1.5;
  letter-spacing: 0.01em;
  white-space: pre-wrap;
  font-size: var(--base-size_tq);
  margin-bottom: 1rem;
  padding: 0.5rem;
}
pre.standout_d7 {
  background-color: var(--color-val_d7d7d7);
}
pre span.em {
  color: var(--color-val_f00);
}
pre span:not(.em) {
  opacity: 0.8;
}

em {
  font-style: normal;
}

a:not(.js_modalButton) {
  text-decoration: underline;
}

.lg-en {
  font-family: "Noto Sans", "Helvetica", "Helvetica Neue", arial;
}
.lg-en_mainttl {
  font-family: "Rubik", sans-serif;
}

.annotation {
  font-size: var(--base-size_tq);
}

/*
COMMON
======================= */
main {
  width: 90%;
  max-width: 1420px;
  margin: 3rem auto;
}

#mainVisual {
  height: 500px;
  background: var(--color-val_20b4f1);
  border-radius: 25px 0;
  margin-bottom: var(--mb50);
  position: relative;
}

.mv-ttl {
  position: absolute;
  top: 7%;
  left: 3%;
}
.mv-ttl h1 {
  font-size: 8rem;
  line-height: 0.8;
  color: var(--color-val_fff);
  font-weight: 600;
  font-style: italic;
}

@media only screen and (max-width: 540px) {
  #mainVisual {
    height: 30vh;
    margin-bottom: var(--mb25);
  }
  .mv-ttl h1 {
    font-size: 4rem;
  }
}
.css-details {
  display: var(--dsp-flex);
  flex-wrap: wrap;
}
.css-details_tips {
  width: calc((100% - 160px) / 4);
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 8px 1px var(--color-val_ddd);
}
.css-details_tips figure {
  width: 100%;
}
.css-details_tips figure figcaption h2 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: var(--mb10);
  padding-bottom: var(--pb5);
  border-bottom: 2px solid var(--color-val_20b4f1);
}
.css-details_tips figure figcaption h3 {
  font-size: 1rem;
  margin-bottom: var(--mb10);
  line-height: 1;
}
.css-details_tips figure figcaption p {
  font-size: 0.8rem;
  line-height: 1.5;
  margin-bottom: var(--mb10);
}
.css-details_tips figure figcaption a.js_modalButton {
  color: var(--color-val_999);
  border: 1px solid var(--color-val_ccc);
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 0.8rem;
  line-height: 1;
  float: right;
  transition: all 0.8s ease;
}
.css-details_tips figure figcaption a.js_modalButton:hover {
  color: var(--color-val_fff);
  background: var(--color-val_20b4f1);
  border: 1px solid var(--color-val_20b4f1);
}
.css-details_tips figure img {
  width: 100%;
  margin-bottom: var(--mb10);
}

@media only screen and (max-width: 1279px) {
  .css-details_tips {
    width: calc((100% - 120px) / 3);
  }
}
@media only screen and (max-width: 1023px) {
  .css-details_tips {
    width: calc((100% - 80px) / 2);
  }
}
@media only screen and (max-width: 540px) {
  .css-details_tips {
    width: calc((100% - 40px) / 2);
    margin: 10px;
  }
}
@media only screen and (max-width: 539px) {
  .css-details_tips {
    width: 100%;
    margin: 0 auto 35px;
  }
}
/*remodal*/
html.remodal-is-locked {
  touch-action: none;
}

.remodal {
  overflow-y: auto;
  position: relative;
  height: 100%;
  max-width: 100%;
  width: 100vw;
  padding: 50px 0;
  outline: none;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  margin-bottom: 0;
  transform: none; /* Close button 対応 */
}
.remodal-wrapper {
  padding: 0 !important;
}
.remodal-overlay {
  display: none;
  background: var(--color-val_fff);
}
.remodal-close.initial-data { /* Close button */
  content: "";
  position: initial !important;
  color: var(--color-val_fff);
  background: var(--color-val_20b4f1);
  border: 1px solid var(--color-val_20b4f1);
  margin: 0 auto 50px;
  width: 300px;
  height: 50px;
  z-index: 100;
  text-align: center;
  border-radius: 25px;
  transition: all 0.8s ease;
  font-size: 1.25rem;
}

.inner-content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
}

.coding-tips_wrap {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--color-val_fff);
  z-index: 100;
}
.coding-tips_wrap .header {
  padding: 1rem 1.5rem;
  margin-bottom: var(--mb50);
  background: var(--color-val_20b4f1);
  border-radius: 25px 0;
}
.coding-tips_wrap .header h1 {
  font-size: var(--base-size_2h);
  color: var(--color-val_fff);
  font-weight: 500;
  line-height: 1.2;
}
.coding-tips_wrap .header p {
  color: var(--color-val_fff);
}
.coding-tips_block {
  margin-bottom: 50px;
}
.coding-tips_block h2 {
  border-left: 5px solid var(--color-val_20b4f1);
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.focus {
  margin: 1rem auto 0;
}
.focus .explanation {
  background-color: var(--color-val_addaf6);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
}
.focus .explanation p.read {
  padding: 0 0 0.5rem;
  border-bottom: 1px dotted var(--color-val_363636);
}
.focus .explanation p.concrete {
  padding: 0.5rem 0 0;
}
.focus .explanation p span {
  display: block;
  font-weight: 700;
}

.code-block {
  background-color: var(--color-val_f4f4f4);
  padding: 1rem;
  border-radius: 5px;
  font-size: 0.8rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.code-Wrap {
  width: 100%;
}
.code-Wrap p {
  margin-bottom: 0.5rem;
}
.code-Wrap p.em {
  font-weight: bold;
}

/* .blue-box */
.blue-box {
  width: 100px;
  height: 100px;
  background-color: blue;
}

.blue-box.unmove:hover {
  width: 100%;
}
.blue-box.move {
  transition: all 1s ease-in-out;
}
.blue-box.move:hover {
  width: 100%;
}
.blue-box.move_02 {
  transition-duration: 1s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-delay: 1s;
}
.blue-box.move_02:hover {
  width: 100%;
}
.blue-box.move_03 {
  transition: all 1s ease-in-out 1s;
}
.blue-box.move_03:hover {
  width: 200px;
}

/*propertyType/valueType*/
.propertyType, .valueType_detail {
  margin-bottom: 1rem;
  padding: 0;
  overflow-x: scroll;
}
.propertyType table, .valueType_detail table {
  width: 1240px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-size: var(--base-size_1);
  line-height: 1.2;
}
.propertyType table th, .valueType_detail table th {
  padding: 0.5rem 1rem;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
  background-color: var(--color-val_addaf6);
}
.propertyType table td, .valueType_detail table td {
  padding: 0.5rem 1rem;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
}
.propertyType table td p, .valueType_detail table td p {
  font-size: var(--base-size_tq);
}

.valueType .read {
  margin-bottom: var(--mb20);
}
.prop-name, .value-name {
  width: 20%;
}

.prop-read {
  width: 30%;
}

.prop-exp {
  width: 50%;
}

.value-tra, .value-anm {
  width: 40%;
}

/*propertyType/valueType*/
.timing-function .box {
  background-color: var(--color-val_125585);
  color: #fff;
  animation: sampleAnm 2.5s linear 0s;
  width: 360px;
}
.timing-function .box p {
  margin: 0;
  padding: 5px 10px;
}
.timing-function .box:nth-child(2n) {
  background-color: var(--color-val_dfe3eb);
  color: var(--color-val_000);
}

@keyframes sampleAnm {
  0% {
    width: 120px;
  }
  100% {
    width: 360px;
  }
}
.transition-box {
  background-color: var(--color-val_125585);
  color: #fff;
  width: 120px;
  transition: all 2.5s;
}
.transition-box:hover {
  width: 360px;
}
.transition-box p {
  margin: 0;
  padding: 5px 10px;
}

.animation-box {
  background-color: var(--color-val_125585);
  color: #fff;
  width: 120px;
}
.animation-box:hover {
  animation: sampleAnm_02 2.5s forwards;
}
.animation-box p {
  margin: 0;
  padding: 5px 10px;
}

@keyframes sampleAnm_02 {
  0% {
    width: 120px;
  }
  100% {
    width: 360px;
  }
}
/***timing-function***/
.transition-box.linear {
  transition-timing-function: linear;
}
.transition-box.ease {
  transition-timing-function: ease;
}
.transition-box.ease-in {
  transition-timing-function: ease-in;
}
.transition-box.ease-out {
  transition-timing-function: ease-out;
}
.transition-box.ease-in-out {
  transition-timing-function: ease-in-out;
}
.transition-box.step-start {
  transition-timing-function: step-start;
}
.transition-box.step-end {
  transition-timing-function: step-end;
}
.transition-box.cubic-bezier {
  transition-timing-function: cubic-bezier(0.37, -0.41, 0.82, 1.46);
}
.transition-box.steps-n-start {
  transition-timing-function: steps(4, start);
}
.transition-box.steps-n-end {
  transition-timing-function: steps(4, end);
}

.animation-box.linear {
  animation-timing-function: linear;
}
.animation-box.ease {
  animation-timing-function: ease;
}
.animation-box.ease-in {
  animation-timing-function: ease-in;
}
.animation-box.ease-out {
  animation-timing-function: ease-out;
}
.animation-box.ease-in-out {
  animation-timing-function: ease-in-out;
}
.animation-box.step-start {
  animation-timing-function: step-start;
}
.animation-box.step-end {
  animation-timing-function: step-end;
}
.animation-box.steps-n-start {
  animation-timing-function: steps(4, start);
}
.animation-box.steps-n-end {
  animation-timing-function: steps(4, end);
}
.animation-box.cubic-bezier {
  animation-timing-function: cubic-bezier(0.37, -0.41, 0.82, 1.46);
}

/***timing-function***/
.blue-box.trans-basic_01 {
  transform: translateX(200px);
}
.blue-box.trans-basic_02 {
  transform: rotate(45deg);
}
.blue-box.trans-basic_03 {
  transform: rotate3d(1, 1, 1, 180deg);
}
.blue-box.trans-basic_04 {
  transform: scale(1.5);
}
.blue-box.trans-basic_05 {
  transform: scale(0.5);
}
.blue-box.trans-basic_06 {
  transform: skewX(30deg);
}
.blue-box.trans-basic_07 {
  transform: translateZ(100px) rotateY(45deg);
}

.blue-box.tra-left-move {
  position: absolute;
  left: 0;
  transition-property: left;
  transition-duration: 1s;
}
.blue-box.tra-left-move:hover {
  left: 100px;
}
.blue-box.tra-show-hide {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
}
.blue-box.tra-show-hide:hover {
  opacity: 1;
}
.blue-box.tra-exp {
  transition-property: width, height;
  transition-duration: 0.5s, 0.5s;
}
.blue-box.tra-exp:hover {
  width: 200px !important;
  height: 200px !important;
}
.blue-box.tra-color {
  transition-property: background-color;
  transition-duration: 1s;
}
.blue-box.tra-color:hover {
  background-color: red !important;
}
.blue-box.tra-shape {
  transition-property: border-radius;
  transition-duration: 0.5s;
}
.blue-box.tra-shape:hover {
  border-radius: 50%;
}

.tra-txt-color {
  color: black;
  transition: color 0.3s;
}
.tra-txt-color:hover {
  color: yellow;
}

.tra-txt-fontsize {
  color: black;
  font-size: 16px;
  transition: font-size 0.5s;
}
.tra-txt-fontsize:hover {
  font-size: 24px;
}

.transition-anime .box {
  width: 100px;
  height: 100px;
  background-color: blue;
  transition: transform 0.3s ease;
}
.transition-anime .box:hover {
  transform: rotate(45deg) scale(1.2);
}

.keyframes-anime .box {
  width: 100px;
  height: 100px;
  background-color: blue;
}
.keyframes-anime .box:hover {
  animation: fadeawayAnime 2s ease;
}

@keyframes fadeawayAnime {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1.08, 1.08);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */